*{
margin: 0;
padding: 0;
}

.container {
  background-color: #ccc;
  height: 600px;
  /*
  display: flex;
  flex-direction: row; 
  justify-content:flex-start;
  align-items: center;
  align-content: center;
  
  flex-wrap: wrap; 

  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-content: space-between;*/

  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  align-content:flex-start;
  justify-content:center;
  
  
}
.item {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 40%;
  
  margin: 10px;
}
